<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content=" LiYuxi" />
<meta name="Copyright" content="" />
<meta name="Keywords" content="">   
<meta name="Description" content="">   
<title>首页</title>
<script type="text/javascript" src="js/jquery.min.js"></script>

<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="css/styles.css" type="text/css">
</head>
<body>
  <div class="wrap bc" id="home">
    <div class="title tc pr top">
	  <span class="back-btn"></span>相宜本草用品店
	  <div class="nav-btn">
	    <ul class="pa">
	      <li><a href="content.html">关于我们</a></li>
		  <li><a href="content.html">公司文化</a></li>
		  <li><a href="">招贤纳士</a></li>
		  <li><a href="news_list.html">新闻动态</a></li>
		  <li><a href="">成功案例</a></li>
	    </ul>
	  </div>
	</div>
	<div class="logo oh tc mt10">
		<a v-for="ad1 in home_top">
			<img style="height: 150px;width: 100%;" :src="'http://test.six_admin.com'+ad1.image_url">
		</a>

	</div>
	<ul class="nav title mt10">
	  <li v-for="menu in menus">
		  <a v-bind:href="menu.url">{{menu.title}}</a>
	  </li>
	</ul>
	  <div class="logo oh tc mt10">
		  <a v-for="bann in banners">
			  <img style="height: 150px;width: 100%;" :src="'http://test.six_admin.com'+bann.image_url">
		  </a>

	  </div>
	<div class="title mt10 pr">
	  <h2>今日特惠<a href="list.html" class="more pa"><span class="hidden">更多</span></a></h2>
	</div>
	<div class="products">
	  <ul>
         <span v-for="(good,index) in goods">
			 <li v-if="(index+1) %3 ==2" style="margin: 8px 26px; width: 196px;">
			  <a v-bind:href="'pro_detail.html?id='+good.id"><img v-bind:src="'http://test.six_admin.com'+good.goods_img"></a>
			  <h4>{{good.goods_name}}</h4>
			  <h6><span>RMB</span>{{good.price}}</h6>
		     </li>
			 <li v-else style="width: 196px;">
			  <a v-bind:href="'pro_detail.html?id='+good.id"><img v-bind:src="'http://test.six_admin.com'+good.goods_img"></a>
			  <h4>{{good.goods_name}}</h4>
			  <h6><span>RMB</span>{{good.price}}</h6>
		     </li>
		 </span>

	    <!--<li>-->
		  <!--<a href="pro_detail.html"><img src="uploads/product.gif"></a>-->
		  <!--<h4>四倍蚕丝凝白柔肤</h4>-->
		  <!--<h6><span>RMB</span>890</h6>-->
		<!--</li>-->
		<!--<li>-->
		  <!--<a href="pro_detail.html"><img src="uploads/product.gif"></a>-->
		  <!--<h4>四倍蚕丝凝白柔肤</h4>-->
		  <!--<h6><span>RMB</span>891</h6>-->
		<!--</li>-->
		<!--<li>-->
		  <!--<a href="pro_detail.html"><img src="uploads/product.gif"></a>-->
		  <!--<h4>四倍蚕丝凝白柔肤</h4>-->
		  <!--<h6><span>RMB</span>892</h6>-->
		<!--</li>-->
		<!--<li>-->
		  <!--<a href="pro_detail.html"><img src="uploads/product.gif"></a>-->
		  <!--<h4>四倍蚕丝凝白柔肤</h4>-->
		  <!--<h6><span>RMB</span>893</h6>-->
		<!--</li>-->
		<!--<li>-->
		  <!--<a href="pro_detail.html"><img src="uploads/product.gif"></a>-->
		  <!--<h4>四倍蚕丝凝白柔肤</h4>-->
		  <!--<h6><span>RMB</span>894</h6>-->
		<!--</li>-->
		<!--<li>-->
		  <!--<a href="pro_detail.html"><img src="uploads/product.gif"></a>-->
		  <!--<h4>四倍蚕丝凝白柔肤</h4>-->
		  <!--<h6><span>RMB</span>895</h6>-->
		<!--</li>-->
	  </ul>
	</div>
	<div class="links mt10 oh cb">
	  <ul class="tc">
		  <span v-for="(cate,index) in category">
			   <li v-if="(index+1) %3 ==2" style="margin: 8px 26px; width: 196px;"><a v-bind:href="'list.html?c_id='+cate.id">{{cate.cate_name}}</a></li>
			   <li v-else style="width: 196px;"><a v-bind:href="'list.html?c_id='+cate.id">{{cate.cate_name}}</a></li>
		  </span>



	    <!--<li><a href="list.html">补水保养</a></li>-->
		<!--<li><a href="list.html">身体洗护</a></li>-->
		<!--<li><a href="list.html">彩妆香水</a></li>-->
		<!--<li><a href="list.html">补水保养</a></li>-->
		<!--<li><a href="list.html">身体洗护</a></li>-->
		<!--<li><a href="list.html">彩妆香水</a></li>-->
	  </ul>
	</div>
	<div class="footer mt10 tc">
	  <p class="phone">联系电话：0311-1234567</p>
	  <p class="support">技术支持：某某网络科技有限公司</p>
	  <p class="copyright">Copyright &copy; 2014.Company name All rights reserved.</p>
	</div>
  </div>
  <script type="text/javascript" src="js/script.js"></script>
  <script type="text/javascript" src="js/vue.js"></script>
  <script type="text/javascript">
	  var home = new Vue({
		  el: "#home",
		  //初始化的内容
		  data: {
		      home_top: {},//顶部广告
			  banners: {}, //首页banner图
			  goods: {},  //商品
			  category: {}, //分类
			  menus: [
				  {title: '关于我们', url:'content.html'},
				  {title: '公司文化', url:'#'},
				  {title: '招贤纳士', url:'#'},
				  {title: '新闻动态', url:'news_list.html'},
				  {title: '成功案例', url:'last'}
			  ],
			  aaa:'hello'
		  },
		  //vue的构造函数
		  created:function(){
		      this.getHomeAd();
		      this.getHomeGoods();
		  },
		  //方法体
		  methods:{

		      //获取首页广告接口
		      getHomeAd: function () {
		          var that = this;
				  $.ajax({
					  url: 'http://test.six_admin.com/api/ad/home',
					  type: 'post',
					  dataType: 'json',
					  data: {banner_num: 1},
					  
					  success: function (res) {
						  that.home_top = res.data.home_top;
						  that.banners = res.data.banner;
                      },
					  
					  error: function (error) {
						  
                      }
				  })
              },
			  //获取首页的商品
			  getHomeGoods: function () {

		          var that = this;
		          $.ajax({
                      url: 'http://test.six_admin.com/api/goods/home',
                      type: 'post',
                      dataType: 'json',
                      data: {nums: 6},

                      success: function (res) {
                          that.goods = res.data.goods;
                          that.category = res.data.category;
                      },

                      error: function (error) {

                      }
				  })
              }
		  }

	  });
  </script>

<div style="display:none"></div>
</body>
</html>

01-网页跨域传递原理+同源策略+src跨域 callback回调函数,02-传输数据的几种数据格式,03-跨域传值的同源策略,04-跨域传值实现方法发方法src跨域

05-Json的概念和作用以及数据格式, 06-AJAX的Json通信原生方式获取跨域数据,07-jquery框架中jsonp的数据传输（ $.ajax和$.getJSON）